{% load static %}
<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="nome_completo">Nome completo:</label>
        <input type="text" name="nome_completo" id="nome_completo" required>
    </div>

    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" required>
    </div>

    <div class="form-group">
        <label for="data_nascimento">Data de nascimento:</label>
        <input type="date" name="data_nascimento" id="data_nascimento" required>
    </div>

    <div class="form-group">
        <label for="medico_responsavel">Médico responsável:</label>
        <select name="medico_responsavel" id="medico_responsavel" required>
            {% for medico in medicos %}
                <option value="{{ medico.id }}">{{ medico.usuario.nome_completo }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Cadastrar</button>
</form>
