<div class="cartao">
    <div class="corpo-cartao">
        {% if pacientes %}
        <div class="grade-pacientes">
            {% for paciente in pacientes %}
            <div class="cartao-paciente">
                <h2 class="nome-paciente">{{ paciente.nome_completo }}</h2>
                <button class="botao-dropdown" data-dropdown-target="dropdown-{{ paciente.id }}">Ver mais</button>
                <div class="dropdown-info" id="dropdown-{{ paciente.id }}">
                    <p><strong>CPF:</strong> {{ paciente.cpf }}</p>
                    <p><strong>Data de Nascimento:</strong> {{ paciente.data_nascimento|date:"d/m/Y" }}</p>
                    <p><strong>Médico Responsável:</strong> {{ paciente.medico_responsavel.usuario.nome_completo }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="sem-resultados">Nenhum paciente cadastrado</p>
        {% endif %}
    </div>
</div>
