{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalHub - Bem-vindo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>VitalHub</h1>
        </header>
        
        <main>
            <div class="intro">
                <h2>Login não autorizado.</h2>
            </div>
        </main>
    </div>
</body>
</html>