{% extends "application/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/painel_medico.css' %}">

<div class="container-principal">
    <aside class="coluna-menu-lateral">
        <ul class="lista-navegacao">
            <li class="item-menu">
                <a class="link-menu" href="{% url 'consultas:lista' %}">Consultas</a>
            </li>
            <li class="item-menu">
                <a class="link-menu ativo" href="{% url 'pacientes:medico_pacientes' %}">Pacientes</a>
            </li>
            <li class="item-menu">
                <a class="link-menu" href="{% url 'medicamentos:lista' %}">Medicamentos</a>
            </li>
        </ul>
    </aside>

    <main class="coluna-conteudo-principal">
        <header class="cabecalho-pagina">
            <h1 class="titulo-pagina">Bem-vindo(a), {{ medico.usuario.nome_completo }}</h1>
        </header>

        <section id="conteudo">
            {% include 'application/medico_pacientes.html' %}
        </section>
    </main>
</div>

{% endblock %}